# Ejercicio 05 (R)

## Datos

In [1]:
df = read.csv('Liga_nacional_de_futbol.csv')

In [10]:
df

   Equipo            y  x1   x2   x3   x4   x5  x6   x7   x8   x9
1  Washington        10 2113 1985 38.9 64.7   4  868 59.7 2205 1917
2  Minnesota         11 2003 2855 38.8 61.3   3  615 55.0 2096 1575
3  New England       11 2957 1737 40.1 60.0  14  914 65.6 1847 2175
4  Oakland           13 2285 2905 41.6 45.3  -4  957 61.4 1903 2476
5  Pittsburgh        10 2971 1666 39.2 53.8  15  836 66.1 1457 1866
6  Baltimore         11 2309 2927 39.7 74.1   8  786 61.0 1848 2339
7  Los Ángeles       10 2528 2341 38.1 65.4  12  754 66.1 1564 2092
8  Dallas            11 2147 2737 37.0 78.3  -1  761 58.0 1821 1909
9  Atlanta            4 1689 1414 42.1 47.6  -3  714 57.0 2577 2001
10 Buffalo            2 2566 1838 42.3 54.2  -1  797 58.9 2476 2254
11 Chicago            7 2363 1480 37.3 48.0  19  984 67.5 1984 2217
12 Cincinnati        10 2109 2191 39.5 51.9   6  700 57.2 1917 1758
13 Cleveland          9 2295 2229 37.4 53.6  -5 1037 58.8 1761 2032
14 Denver             9 1932 2204 35.1 71.4   3  986 58.6 1709 2025
15 Detroit            6 2213 2140 38.8 58.3   6  819 59.2 1901 1686
16 Green Bay          5 1722 1730 36.6 52.6 -19  791 54.4 2288 1835
17 Houston            5 1498 2072 35.3 59.3  -5  776 49.6 2072 1914
18 Kansas City        5 1873 2929 41.1 55.3  10  789 54.3 2861 2496
19 Miami              6 2118 2268 38.2 69.6   6  582 58.7 2411 2670
20 Nueva Orleans      4 1775 1983 39.3 78.3   7  901 51.7 2289 2202
21 Nueva York Giants  3 1904 1792 39.7 38.1  -9  734 61.9 2203 1988
22 Nueva York Jets    3 1929 1606 39.7 68.8 -21  627 52.7 2592 2324
23 Philadelphia       4 2080 1492 35.5 68.8  -8  722 57.8 2053 2550
24 St. Louis         10 2301 2835 35.3 74.1   2  683 59.7 1979 2110
25 San Diego          6 2040 2416 38.7 50.0   0  576 54.9 2048 2628
26 San Francisco      8 2447 1638 39.9 57.1  -8  848 65.3 1786 1776
27 Seattle            2 1416 2649 37.4 56.3 -22  684 43.8 2876 2524
28 Tampa Bay          0 1503 1503 39.3 47.0  -9  875 53.5 2560 2241

In [12]:
df = df[, !(names(df) %in% c('Equipo'))]
df

   y  x1   x2   x3   x4   x5  x6   x7   x8   x9
1  10 2113 1985 38.9 64.7   4  868 59.7 2205 1917
2  11 2003 2855 38.8 61.3   3  615 55.0 2096 1575
3  11 2957 1737 40.1 60.0  14  914 65.6 1847 2175
4  13 2285 2905 41.6 45.3  -4  957 61.4 1903 2476
5  10 2971 1666 39.2 53.8  15  836 66.1 1457 1866
6  11 2309 2927 39.7 74.1   8  786 61.0 1848 2339
7  10 2528 2341 38.1 65.4  12  754 66.1 1564 2092
8  11 2147 2737 37.0 78.3  -1  761 58.0 1821 1909
9   4 1689 1414 42.1 47.6  -3  714 57.0 2577 2001
10  2 2566 1838 42.3 54.2  -1  797 58.9 2476 2254
11  7 2363 1480 37.3 48.0  19  984 67.5 1984 2217
12 10 2109 2191 39.5 51.9   6  700 57.2 1917 1758
13  9 2295 2229 37.4 53.6  -5 1037 58.8 1761 2032
14  9 1932 2204 35.1 71.4   3  986 58.6 1709 2025
15  6 2213 2140 38.8 58.3   6  819 59.2 1901 1686
16  5 1722 1730 36.6 52.6 -19  791 54.4 2288 1835
17  5 1498 2072 35.3 59.3  -5  776 49.6 2072 1914
18  5 1873 2929 41.1 55.3  10  789 54.3 2861 2496
19  6 2118 2268 38.2 69.6   6  582 58.7 2411 2670
20  4 1775 1983 39.3 78.3   7  901 51.7 2289 2202
21  3 1904 1792 39.7 38.1  -9  734 61.9 2203 1988
22  3 1929 1606 39.7 68.8 -21  627 52.7 2592 2324
23  4 2080 1492 35.5 68.8  -8  722 57.8 2053 2550
24 10 2301 2835 35.3 74.1   2  683 59.7 1979 2110
25  6 2040 2416 38.7 50.0   0  576 54.9 2048 2628
26  8 2447 1638 39.9 57.1  -8  848 65.3 1786 1776
27  2 1416 2649 37.4 56.3 -22  684 43.8 2876 2524
28  0 1503 1503 39.3 47.0  -9  875 53.5 2560 2241

## a)
usar el algoritmo de selecicón hacia adelante para seleccionar un modelo de regresión.

In [13]:
empty_model <- lm(y ~ 1, data = df)

In [14]:
full_model <- lm(y ~ ., data = df)

In [15]:
forward_model <- step(empty_model,
                      scope = formula(full_model),
                      direction = "forward")

Start:  AIC=70.81
y ~ 1

       Df Sum of Sq    RSS    AIC
+ x8    1   178.092 148.87 50.785
+ x1    1   115.068 211.90 60.669
+ x7    1    97.238 229.73 62.931
+ x5    1    86.116 240.85 64.255
+ x2    1    76.193 250.77 65.385
+ x9    1    30.167 296.80 70.104
<none>              326.96 70.814
+ x4    1    21.844 305.12 70.878
+ x6    1    16.411 310.55 71.372
+ x3    1     2.135 324.83 72.631

Step:  AIC=50.78
y ~ x8

       Df Sum of Sq     RSS    AIC
+ x2    1    64.934  83.938 36.741
+ x5    1    11.607 137.265 50.512
<none>              148.872 50.785
+ x1    1     6.636 142.236 51.508
+ x3    1     6.368 142.504 51.561
+ x4    1     6.345 142.527 51.565
+ x7    1     0.974 147.898 52.601
+ x6    1     0.487 148.385 52.693
+ x9    1     0.008 148.864 52.783

Step:  AIC=36.74
y ~ x8 + x2

       Df Sum of Sq    RSS    AIC
+ x7    1   14.0682 69.870 33.604
+ x1    1   11.1905 72.748 34.734
+ x3    1    8.9010 75.037 35.602
+ x5    1    5.8147 78.124 36.730
<none>              83.938 36.741
+ x9    1    2.0256 81.913 38.057
+ x6    1    1.3216 82.617 38.296
+ x4    1    0.0161 83.922 38.735

Step:  AIC=33.6
y ~ x8 + x2 + x7

       Df Sum of Sq    RSS    AIC
+ x9    1    4.8657 65.004 33.583
<none>              69.870 33.604
+ x3    1    1.3873 68.483 35.043
+ x4    1    0.9792 68.891 35.209
+ x1    1    0.9022 68.968 35.240
+ x6    1    0.4879 69.382 35.408
+ x5    1    0.2987 69.571 35.484

Step:  AIC=33.58
y ~ x8 + x2 + x7 + x9

       Df Sum of Sq    RSS    AIC
<none>              65.004 33.583
+ x1    1   1.86452 63.140 34.768
+ x4    1   1.74260 63.262 34.822
+ x3    1   0.70148 64.303 35.279
+ x6    1   0.45071 64.554 35.388
+ x5    1   0.32667 64.678 35.442

1. y ~ x8
2. y ~ x8 + x2
3. y ~ x8 + x2 + x7
4. y ~ x8 + x2 + x7 + x9

## b)
Usar el algoritmo de selección hacia atrás para seleccionar un modelo de regresión.

In [16]:
backward_model <- step(full_model, direction = "backward")

Start:  AIC=41.48
y ~ x1 + x2 + x3 + x4 + x5 + x6 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
- x5    1     0.000  60.293 39.476
- x1    1     0.549  60.842 39.730
- x3    1     0.746  61.039 39.821
- x6    1     0.803  61.096 39.847
- x4    1     1.968  62.261 40.376
- x7    1     3.451  63.744 41.035
<none>               60.293 41.476
- x9    1     5.348  65.642 41.856
- x8    1    12.072  72.365 44.587
- x2    1    62.448 122.741 59.380

Step:  AIC=39.48
y ~ x1 + x2 + x3 + x4 + x6 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
- x1    1     0.553  60.846 37.732
- x3    1     0.750  61.043 37.822
- x6    1     0.818  61.111 37.854
- x4    1     2.053  62.346 38.414
- x7    1     3.859  64.152 39.213
<none>               60.293 39.476
- x9    1     5.351  65.644 39.857
- x8    1    12.086  72.379 42.592
- x2    1    66.979 127.272 58.395

Step:  AIC=37.73
y ~ x2 + x3 + x4 + x6 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
- x6    1     0.690  61.536 36.048
- x3    1     1.715  62.561 36.510
- x4    1     3.051  63.897 37.102
<none>               60.846 37.732
- x9    1     4.852  65.698 37.880
- x7    1     8.961  69.807 39.579
- x8    1    16.599  77.445 42.486
- x2    1    67.010 127.856 56.524

Step:  AIC=36.05
y ~ x2 + x3 + x4 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
- x3    1     1.726  63.262 34.822
- x4    1     2.767  64.303 35.279
<none>               61.536 36.048
- x9    1     4.831  66.367 36.164
- x7    1     9.390  70.926 38.024
- x8    1    18.314  79.851 41.343
- x2    1    66.447 127.984 54.552

Step:  AIC=34.82
y ~ x2 + x4 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
- x4    1     1.743  65.004 33.583
<none>               63.262 34.822
- x9    1     5.629  68.891 35.209
- x8    1    17.701  80.962 39.730
- x7    1    18.583  81.845 40.033
- x2    1    75.598 138.860 54.835

Step:  AIC=33.58
y ~ x2 + x7 + x8 + x9

       Df Sum of Sq     RSS    AIC
<none>               65.004 33.583
- x9    1     4.866  69.870 33.604
- x7    1    16.908  81.913 38.057
- x8    1    23.299  88.303 40.160
- x2    1    82.892 147.897 54.601

1. y ~ x1 + x2 + x3 + x4 + x5 + x6 + x7 + x8 + x9
2. y ~ x1 + x2 + x3 + x4 + x6 + x7 + x8 + x9
3. y ~ x2 + x3 + x4 + x6 + x7 + x8 + x9
4. y ~ x2 + x3 + x4 + x7 + x8 + x9
5. y ~ x2 + x4 + x7 + x8 + x9
6. y ~ x2 + x7 + x8 + x9

## c)
Usar el algoritmo de regresión por pasos para seleccionar un modelo de regresión.

In [17]:
stepwise_model <- step(empty_model, 
                        scope = formula(full_model), 
                        direction = "both")

Start:  AIC=70.81
y ~ 1

       Df Sum of Sq    RSS    AIC
+ x8    1   178.092 148.87 50.785
+ x1    1   115.068 211.90 60.669
+ x7    1    97.238 229.73 62.931
+ x5    1    86.116 240.85 64.255
+ x2    1    76.193 250.77 65.385
+ x9    1    30.167 296.80 70.104
<none>              326.96 70.814
+ x4    1    21.844 305.12 70.878
+ x6    1    16.411 310.55 71.372
+ x3    1     2.135 324.83 72.631

Step:  AIC=50.78
y ~ x8

       Df Sum of Sq    RSS    AIC
+ x2    1    64.934  83.94 36.741
+ x5    1    11.607 137.27 50.512
<none>              148.87 50.785
+ x1    1     6.636 142.24 51.508
+ x3    1     6.368 142.50 51.561
+ x4    1     6.345 142.53 51.565
+ x7    1     0.974 147.90 52.601
+ x6    1     0.487 148.39 52.693
+ x9    1     0.008 148.86 52.783
- x8    1   178.092 326.96 70.814

Step:  AIC=36.74
y ~ x8 + x2

       Df Sum of Sq     RSS    AIC
+ x7    1    14.068  69.870 33.604
+ x1    1    11.190  72.748 34.734
+ x3    1     8.901  75.037 35.602
+ x5    1     5.815  78.124 36.730
<none>               83.938 36.741
+ x9    1     2.026  81.913 38.057
+ x6    1     1.322  82.617 38.296
+ x4    1     0.016  83.922 38.735
- x2    1    64.934 148.872 50.785
- x8    1   166.833 250.771 65.385

Step:  AIC=33.6
y ~ x8 + x2 + x7

       Df Sum of Sq     RSS    AIC
+ x9    1     4.866  65.004 33.583
<none>               69.870 33.604
+ x3    1     1.387  68.483 35.043
+ x4    1     0.979  68.891 35.209
+ x1    1     0.902  68.968 35.240
+ x6    1     0.488  69.382 35.408
+ x5    1     0.299  69.571 35.484
- x7    1    14.068  83.938 36.741
- x8    1    41.400 111.270 44.633
- x2    1    78.028 147.898 52.601

Step:  AIC=33.58
y ~ x8 + x2 + x7 + x9

       Df Sum of Sq     RSS    AIC
<none>               65.004 33.583
- x9    1     4.866  69.870 33.604
+ x1    1     1.865  63.140 34.768
+ x4    1     1.743  63.262 34.822
+ x3    1     0.701  64.303 35.279
+ x6    1     0.451  64.554 35.388
+ x5    1     0.327  64.678 35.442
- x7    1    16.908  81.913 38.057
- x8    1    23.299  88.303 40.160
- x2    1    82.892 147.897 54.601

1. y ~ x8
2. y ~ x8 + x2
3. y ~ x8 + x2 + x7
4. y ~ x8 + x2 + x7 + x9

## d)
Comenta los modelos finales en cada uno de los casos anteriores. ¿Cuál tiene más sentido? ¿Cuál modelo usarían?

In [19]:
summary(forward_model)

Call:
lm(formula = y ~ x8 + x2 + x7 + x9, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-3.3519 -0.5612 -0.0856  0.6972  3.2802

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.8217034  7.7847061  -0.234  0.81705
x8          -0.0040149  0.0013983  -2.871  0.00863 **
x2           0.0038186  0.0007051   5.416 1.67e-05 ***
x7           0.2168941  0.0886759   2.446  0.02252 *
x9          -0.0016349  0.0012460  -1.312  0.20244
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.681 on 23 degrees of freedom
Multiple R-squared:  0.8012,	Adjusted R-squared:  0.7666
F-statistic: 23.17 on 4 and 23 DF,  p-value: 8.735e-08

In [22]:
summary(backward_model)

Call:
lm(formula = y ~ x2 + x7 + x8 + x9, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-3.3519 -0.5612 -0.0856  0.6972  3.2802

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.8217034  7.7847061  -0.234  0.81705
x2           0.0038186  0.0007051   5.416 1.67e-05 ***
x7           0.2168941  0.0886759   2.446  0.02252 *
x8          -0.0040149  0.0013983  -2.871  0.00863 **
x9          -0.0016349  0.0012460  -1.312  0.20244
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.681 on 23 degrees of freedom
Multiple R-squared:  0.8012,	Adjusted R-squared:  0.7666
F-statistic: 23.17 on 4 and 23 DF,  p-value: 8.735e-08

In [21]:
summary(stepwise_model)

Call:
lm(formula = y ~ x8 + x2 + x7 + x9, data = df)

Residuals:
    Min      1Q  Median      3Q     Max
-3.3519 -0.5612 -0.0856  0.6972  3.2802

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.8217034  7.7847061  -0.234  0.81705
x8          -0.0040149  0.0013983  -2.871  0.00863 **
x2           0.0038186  0.0007051   5.416 1.67e-05 ***
x7           0.2168941  0.0886759   2.446  0.02252 *
x9          -0.0016349  0.0012460  -1.312  0.20244
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.681 on 23 degrees of freedom
Multiple R-squared:  0.8012,	Adjusted R-squared:  0.7666
F-statistic: 23.17 on 4 and 23 DF,  p-value: 8.735e-08

Los tres métodos de selección de variables (*forward*, *backward* y *stepwise*) produjeron el mismo modelo final. Sin embargo, el método *stepwise* es el más robusto y con otros datos, el que podría dar mejores resultados.Las variables seleccionadas son consistentemente las más relevantes para explicar la variable dependiente y que el modelo es estable, por lo tanto este modelo es el más adecuado.